li{
    list-style: none;
}
.side-menu {
    position: fixed;
    background: #4B9AFF;
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
    &.inactive {
        width: 80px;
        .side-menu.inactive .top-section .logo .user-info{
            opacity: 0;
        }
        .side-menu.inactive .top-section .toggle-menu-btn {
            right: -50px;
        }
        .side-menu.inactive .main-menu .menu-item span{
            opacity: 0;
            width: 0;
            height: 0;
            overflow: hidden;
        }
    }
    .top-section{
        position: relative;
        .logo{
            width: 40px;
            height: 40px;
            overflow: hidden;
            display: inline-block;
            img{
                max-width: 100%;
            }
            .user-info{
                display: inline-block;
                margin: 0 10px;
                color: white;
                position: absolute;
                opacity: 1;
                transition: opacity .2s ease-in;
                h5{
                    font-size: 15px;
                }
                p{
                    font-size: 13px;
                }
            }
        }
        .toggle-menu-btn{
            color: #0080ff;
            font-size: 20px;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            cursor: pointer;
        }
    }
    .main-menu{
        margin: 5px;
        .menu-item{
            color: White;
            margin-left: -5px;
            text-decoration: none;
            font-size: 15px;
            display: block;
            font-weight: 600;
            cursor: pointer;
            padding: 10px ;
            &.inactive{
                background-color: blueviolet;
                border-radius: 5px;
            }
            
            .menu-icon{
                display: inline-block;
                width: 40px;
                height: 40px;
                font-size: 20px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                .span{
                    position: absolute;
                    display: inline-block;
                    line-height: 40px;
                    opacity: 1;
                    transition: opacity .2s ease-in;
                }
            }
        }
    }
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: aqua;
}