.user{
    margin-left: 20px;
    .user-btn{
        display: flex;
        padding-bottom: 20px;
        .search{
            margin-top: 5px;
            margin-left: 600px;
        }   
    }
    .card-container{
        display: flex;
        width: 100%;
        .card{
            transition: 0.3s;
            width: 20%;
            border-radius: 20px;
            align-items: center;
            position: flex;
            margin-right: 10px;
            
            .img{
                width: 100%;
            }
            .user-info {
                padding: 2px 16px;
                text-align: center;
              }
            .btn{
                margin-bottom: 10px;
                .button{
                    border-radius: 10px;
                }
            }
        }
    }
}