@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap');

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;

}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;

}
body{
    margin: 0
}
@import "button";
@import "sidemenu";
@import "container";
@import "users";
@import "dashboard";
@import "auth";
@import "card";
@import "form";
@import "modal";
