*{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}
body{
    background-color: #F8F7FC;
    font-family: 'Open Sans', sans-serif;
}

.side-menu {
    position: fixed;
    background: #4B9AFF;
    width: 280px;
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px;
    transition: width .2s ease-in;
}

.side-menu.inactive {
    width: 80px;
}

.side-menu .top-section{
    position: relative;
}

.side-menu .top-section .logo{
    width: 40px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
}


.side-menu .top-section .logo img{
    max-width: 100%;
}

.side-menu .top-section .logo .user-info{
    display: inline-block;
    margin: 0 10px;
    color: white;
    position: absolute;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu .top-section .logo .user-info h5{
    font-size: 15px;
}

.side-menu .top-section .logo .user-info p{
    font-size: 13px;
}

.side-menu.inactive .top-section .logo .user-info{
    opacity: 0;
}

.side-menu .top-section .toggle-menu-btn{
    color: #0080ff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

.side-menu.inactive .top-section .toggle-menu-btn {
    right: -50px;
}

.side-menu .main-menu .menu-item{
    color: White;
    margin-left: -5px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

.side-menu .main-menu .menu-item.active{
    background-color: blueviolet;
    border-radius: 5px;
}

.side-menu .main-menu{
    margin: 5px;
}

.divider{
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: aqua;
}

.side-menu .main-menu .menu-item .menu-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.side-menu .main-menu .menu-item span{
    position: absolute;
    display: inline-block;
    line-height: 40px;
    opacity: 1;
    transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.container{
    margin-left: 300px;
    transition: margin-left .2s ease-in;
    padding: 50px;
}

.container.inactive{
    margin-left: 120px;
}


.group-info .card .card-img-top{
  width: 41px;
  height: 48px;  
}

.group-info .card .card-title {
height: 25px;
width: 63px;
left: 55px;
top: 86px;
}
